<h3>The user's email is:</h3>
<h3 class="stand-out"><%= @user.email %></h3>
<h3>The user's session token is:</h3>
<h3 class="stand-out"><%= @user.session_token %></h3>
<h3>The user's password_digest is:</h3>
<h3 class="stand-out"><%= @user.password_digest %></h3>
