/*body, html, h1, h2, h3, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10;
}

li {
  list-style: none;
}

nav li {
  display: inline;
}


h1 {
  font-size: 40px;
  color: white;
  background-color: green;
}*/
